# https://docs.npmjs.com/misc/config
registry=https://registry.npmjs.org

audit=false
fund=false

git-tag-version=false

access=public
save-exact=true

# automatically answer "yes" to any prompts that npm might print on the command line.
yes=true

# pnpm
## https://pnpm.io/cli/add#--ignore-workspace-root-check--w
ignore-workspace-root-check=true
## https://pnpm.io/cli/publish#git-checks
git-checks=false